@use "sass-rem" as *;
:host {
    .header-div {
        display: grid;
        grid-template-columns: 0fr 1fr 0fr;
        gap: rem(16px);
        cursor: pointer;

        .svg {
            height: 100%;

            svg {
                width: rem(16px);
            }
        }

        .middle-div {
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .loggin-in-as-text {
        margin-bottom: 4px;
        margin-right: 8px;
    }
}
