@use "sass-rem" as *;
:host {
    .email {
        display: flex;
        gap: rem(16px);
        cursor: pointer;

        .svg {
            height: 100%;

            svg {
                width: rem(16px);
            }
        }
    }

    .loggin-in-as-text {
        margin-bottom: 4px;
        margin-right: 8px;
    }

    .right-icon-div {
        position: absolute;
        right: 64px;
    }


    .logout-div {
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            text-decoration: underline;
        }
    }
}
