@use "sass-rem" as *;

.slider-container {
    padding: rem(8px);

    input {
        width: 100%;
    }
}

.slider-labels {
    display: flex;
    justify-content: space-between;
    margin-top: rem(8px);

    span {
        flex: 1;
        text-align: center;
    }
}
