@use "sass-rem" as *;
:host {
    .values {
        margin: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: rem(512px);
        min-width: rem(256px);

        h2 {
            text-align: center;
        }

        .value {
            padding: rem(16px);
        }
    }
}
