<app-header></app-header>

@if (loading) {
    <div class="vh-center">
        <h1>{{ loading }}</h1>
    </div>
} @else if (!canPerformAction) {
    <div class="vh-center no-action">
        <h1 class="center">{{ canPerformAction === null ? 'Het is buiten werkuren, je kunt geen waardes invullen' : 'Je hebt al waardes ingevuld voor dit dagdeel' }}</h1>
        <h3 class="center">Je kan weer een score invullen op {{ nextAvailableTime | date: 'HH:mm' }}</h3>
        <h5 class="center">{{ nextAvailableTime | countdown }}</h5>
        <button (click)="deleteRecentValue()">Delete je waarde</button>  <!-- TODO: Remove this button -->
    </div>
} @else if (!submitted) {
    <div class="values vh-center">
        <div class="value">
            <h2 class="center">Hoe zuur ben je?</h2>
            <app-slider [reverse]="true" [(ngModel)]="acidity"></app-slider>
        </div>

        <div class="value">
            <h2 class="center">Wat is je gemoedstoestand?</h2>
            <app-slider [(ngModel)]="feeling"></app-slider>
        </div>

        <button (click)="sendValues()">Verzenden!</button>
        @if (submitFailed) {
            <h6 class="center red">Er is iets misgegaan met het verzenden van je waardes</h6>
        }
    </div>
} @else if (submitted) {
    <div class="submitted vh-center">
        <h1>Je waardes zijn verzonden!</h1>
    </div>
}
