@use "sass-rem" as *;
:host {
    padding: rem(32px);

    .values {
        max-width: rem(512px);
        min-width: rem(256px);
        width: 100%;
        gap: rem(32px);
    }

    .email {
        display: flex;
        gap: rem(16px);
        cursor: pointer;

        .svg {
            height: 100%;

            svg {
                width: rem(16px);
            }
        }

        &:hover {
            text-decoration: underline;
        }
    }
}
