@use "sass-rem" as *;

@import "vars";

html,
body,
.root,
.app,
.outlet ~ * {
    display: block !important;
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: var(--white);
    color: var(--dark-blue);
    font-size: rem(14px);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}
