@use "sass-rem" as *;

:root {
    --white: #ffffff;
    --dark-blue: #001955;
    --blue: #0088ff;
    --green: #19e3b1;
    --red: #fc636b;
    --yellow: #ffd700;
    --blue-pastel: #e6f4ff;
    --green-pastel: #e6f6f1;
    --red-pastel: #ffeff0;
    --yellow-pastel: #fffbe6;
    --light-blue: #bee1ff;
    --gray: #d7d7d7;
    --dark-gray: #99a3bb;

    --box-shadow: 0rem 0.375rem 0.75rem rgb(0 0 0 / 16%);
}
